// First, import all the custom variables
@import 'vars/all';
// Then, import the components
@import 'components/all';

// Resets and general stuff
body {
  background-color: $kubeless-base;
}

.page-layout {
  img {
    max-width: 100%;
    border: 1px solid $kubeless-light;
  }
}
