// First, import all the custom variables
@import 'vars/all';
// Then, import the components
@import 'components/all';
// Finally, pages
@import 'pages/all';

// Resets and general stuff
body {
  background-color: $white;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

// Reduce the font-size on mobile version
@media (max-width: 29.9375em) {
  html {
    font-size: 90%;
  }
}

// Should we add this to Bitnami UI?
img {
  max-width: 100%;
}

pre {
  background-color: #f3f4f4;
  overflow: auto;

  .hljs {
    background-color: transparent;
    padding: 0;
  }

  code {
    word-break: break-all;
  }
}

// TODO: Remove this once we fix the issue with the grid
// https://github.com/bitnami/hex/issues/151
.col-9 {
  max-width: 75%;
}