!!!
%html
  / Head information
  = partial 'layouts/partials/head'

  / Main content
  %body
    = partial 'layouts/partials/header'
    %main.page-layout.bg-base
      .container.container-small.padding-v-big.margin-t-giant
        = yield
    = partial 'layouts/partials/footer'
