!!!
%html
  / Head information
  = partial 'layouts/partials/head'

  / Main content
  %body
    .gradient-135-accent.elevation-1
      .container
        = partial 'layouts/partials/header'
    %main.container.container-small.margin-t-enormous
      = yield

    .margin-t-giant
      = partial 'layouts/partials/footer'
