// Custom colors for this project
$kubeless-brand: #162d50;
$kubeless-primary: #14384e;
$kubeless-secondary: #1f577a;
$kubeless-accent: #40b654;
$kubeless-light: #e6e7e8;
$kubeless-dark: #37474f;
$kubeless-text: #2f3032;
$kubeless-action: #ef4324;
$kubeless-base: #fff;
