.Footer.bg-dark
  .container.container-small.inverse.padding-b-big
    .row.collapse-on-phone
      .col-6.margin-t-big
        %h4.inverse
          © Kubeapps 2017
      .col-6.row.text-r
        %ul.col-6.remove-style
          %li
            %h6.inverse More
          %li Link 1
          %li Link 2
          %li Link 3
        %ul.col-6.remove-style
          %li
            %h6.inverse More
          %li Link 1
          %li Link 2
          %li Link 3
