.Footer.bg-dark
  .container.container-small.inverse.padding-b-big
    .row.collapse-on-phone
      .col-6
        .padding-big
          = image_tag 'kubeless-dark-text.png', :class => 'logo'
          %p.type-small
            A Kubernetes Native Serverless Framework.<br/>
            Kubeless supports both HTTP and event based triggers, has a serverless plugin, a graphical user interface and multiple runtimes, including Python and Node.js.
          %p
            This project is maintained by
            %a.inverse.underline{:href => 'https://github.com/kubeless'}
              The Kubeless Authors
      .col-6
        .padding-big
          %p
            %a.inverse{:href => 'https://github.com/kubeless/kubeless'}
              View the project on Github <br/>
              %small github.com/kubeless/kubeless
          %div
            %a.twitter-follow-button{"data-show-count" => "false", :href => "https://twitter.com/kubeless_sh"} Follow @kubeless_sh
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
            %a{:href => "http://slack.oss.bitnami.com"}
              %img{:src => "https://img.shields.io/badge/slack-join%20chat%20%E2%86%92-e01563.svg"}/
          %div
            %iframe{:allowtransparency => "true", :frameborder => "0", :height => "20", :scrolling => "0", :src => "http://ghbtns.com/github-btn.html?user=kubeless&repo=kubeless&type=star&count=true&v=2", :width => "95"}
            %iframe{:allowtransparency => "true", :frameborder => "0", :height => "20", :scrolling => "0", :src => "http://ghbtns.com/github-btn.html?user=kubeless&repo=kubeless&type=fork&count=true&v=2", :width => "88"}
            %iframe{:frameborder => "0", :height => "20px", :scrolling => "0", :src => "https://ghbtns.com/github-btn.html?user=kubeless&repo=kubeless&type=watch&count=true&v=2", :width => "95"}
