.container
  %header.Header.padding-v-bigger
    .row.collapse-on-phone.collapse-on-phone-landscape
      .col-4
        Bitnami Middleman Boilerplate
      .col-8
        %nav.text-r.padding-t-small
          %a.margin-h-big{href: '/'}
            Home
          %a.margin-h-big{href: '/about'}
            About
