%header.Header.padding-v-big.bg-base
  .container
    .row.collapse-on-phone.collapse-on-phone-landscape
      .col-4
        .Header__Logo
          = link_to '/index.html' do
            = image_tag 'kubeless-text.png'
      .col-8
        %nav.text-r.padding-t-normal
          - data.links.each do |link|
            = link_to link['label'], link['url'], class: 'margin-h-big'
