%header.Header.padding-v-big
  .row.collapse-b-tablet.align-center
    .col-4
      .Header__Logo
        = link_to '/index.html' do
          = image_tag 'logo-white.svg'
          %span
            A Bitnami project
    .col-8
      %nav.text-r
        - data.links.each_with_index do |link, i|
          - cssClass = i === data.links.size - 1 ? 'margin-l-normal' : 'margin-h-normal'
          = link_to link['label'], link['url'], class: cssClass
