%header.Header.padding-v-big
  .container
    .row.collapse-on-phone.collapse-on-phone-landscape
      .col-4
        .Header__Logo
          = image_tag 'bitnami.png'
      .col-8
        %nav.text-r.padding-t-normal
          = link_to 'Home', '/index.html', class: 'margin-h-big'
          = link_to 'About', '/about.html', class: 'margin-h-big'
          = link_to 'GitHub', 'https://github.com/bitnami/middleman-boilerplate', class: 'margin-h-big', rel: 'noopener', target: '_blank'
