.Header__Logo a img {
  height: 2em;
  vertical-align: middle; }
.Header__Logo a span {
  display: block;
  color: #fff;
  font-size: .7em;
  padding-left: 39px;
  margin-top: -5px; }
.Header nav a {
  color: #fff; }
@media (max-width: 47.9375em) {
  .Header,
  .Header nav {
    text-align: center; } }

.Footer {
  background-color: #1C2B39; }
  .Footer__Border {
    border-top: 1px solid #e6e7e8; }
  .Footer__Logo {
    max-height: 2em; }
  @media (max-width: 29.9375em) {
    .Footer [class^="col"] {
      text-align: center; } }

.Banner .logo {
  height: 100px; }

.Index__Hero {
  position: relative;
  min-height: 35em;
  padding-bottom: 14em;
  overflow: hidden; }
  .Index__Hero__Logo {
    height: 1.2em; }
  .Index__Hero__Bar {
    bottom: 5em;
    height: 200px;
    left: 50%;
    margin-left: -100%;
    position: absolute;
    width: 200%;
    transform: rotateZ(4deg);
    overflow: hidden; }
    .Index__Hero__Bar--pattern {
      transform: rotateZ(-4deg); }
      .Index__Hero__Bar--pattern:after {
        content: '';
        bottom: -100px;
        width: 100%;
        background-size: 89px 77px;
        height: 200%;
        position: absolute;
        transform: rotateZ(4deg);
        background-image: url(/assets/images/pattern.png);
        background-repeat: repeat;
        opacity: .6; }

body {
  background-color: #fff;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1; }

@media (max-width: 29.9375em) {
  html {
    font-size: 90%; } }
img {
  max-width: 100%; }

pre {
  background-color: #f3f4f4;
  overflow: auto; }
  pre .hljs {
    background-color: transparent;
    padding: 0; }
  pre code {
    word-break: break-all; }

.col-9 {
  max-width: 75%; }
