.Footer {
  // Footer CSS code
  background-color: $dark-alternative;

  &__Border {
    border-top: 1px solid #e6e7e8;
  }

  &__Logo {
    max-height: 2em;
  }

  @media (max-width: 29.9375em) {
    [class^="col"] {
      text-align: center;
    }
  }
}
