.Header {
  &__Logo {
    a {
      img {
        height: 2em;
        vertical-align: middle;
      }

      span {
        display: block;
        color: $white;
        font-size: .7em;
        padding-left: 39px;
        margin-top: -5px;
      }
    }
  }

  nav {
    a {
      color: $white;
    }
  }

  // Responsive
  @media (max-width: 47.9375em) {
    &,
    nav {
      text-align: center;
    }
  }
}
