.About
  .banner.margin-b-reset.padding-huge.text-c.bg-brand
    %h1.inverse About us
    %h2.inverse.margin-v-small
      Discover & launch great Kubernetes-ready apps

  .bg-base.padding-v-giant
  = partial 'layouts/partials/footer'
