.Index
  .banner.bg-brand.padding-huge.text-c.margin-b-reset
    .container.container-small
      = image_tag 'kubeless-dark-text.png', { :class => 'logo margin-t-bigger' }
      %h2.inverse.margin-t-big.type-big
        A Kubernetes Native Serverless Framework.
        Kubeless supports both HTTP and event based triggers, has a serverless plugin, a graphical user interface and multiple runtimes, including Python and Node.js.

  .bg-base
    .container.container-small.padding-v-big
      = partial 'layouts/pages/home'

  = partial 'layouts/partials/footer'
