%h1 Example
%p
  This is a project example for middleman. The following example data is read from the
  %code /data
  folder. Also, this file is written in HAML format. You can find it
  %code source/index.html.haml
%ul
  - data.projects.each do |project|
    %li
      %a{href: project['url'], target: '_blank', rel: 'noopener'}
        = project['name']
