.Install
  .banner.margin-b-reset.padding-huge.text-c.bg-brand
    %h1.inverse About us
    %h2.inverse.margin-v-small
      Discover & launch great Kubernetes-ready apps

  .bg-base
    .container.container-small.padding-v-big
      = partial 'layouts/pages/install'

  = partial 'layouts/partials/footer'
